In [7]:
import pandas as pd

df = pd.read_csv('./data/ml_ready_real_estate_data.csv')
# display(df)
df['price_per_m2'] = df['price'] / df['habitableSurface']
df.to_csv("./data/ml_ready_real_estate_data_with_price_per_m2.csv", index=False)
display(df)

,bedroomCount,bathroomCount,habitableSurface,toiletCount,postCode,totalParkingCount,province_encoded,type_encoded,subtype_encoded,locality_encoded,...,hasFireplace_encoded,hasBasement_encoded,hasDressingRoom_encoded,hasDiningRoom_encoded,hasLift_encoded,hasHeatPump_encoded,hasPhotovoltaicPanels_encoded,hasLivingRoom_encoded,price,price_per_m2
0,2.0,1.0,100.0,1.0,1040,1.0,1,1,1,951.0,...,0,1,0,0,1,0,0,1,399000.0,3990.000000
1,4.0,2.0,270.0,3.0,1040,0.0,1,2,2,951.0,...,0,1,0,1,0,0,0,1,895000.0,3314.814815
2,2.0,1.0,87.0,1.0,1040,0.0,1,1,1,951.0,...,0,0,0,0,1,0,0,1,465000.0,5344.827586
3,2.0,2.0,104.0,2.0,1040,0.0,1,1,1,551.0,...,0,0,0,0,1,0,0,1,590000.0,5673.076923
4,1.0,1.0,71.0,1.0,1040,0.0,1,1,3,951.0,...,0,0,0,0,0,0,0,0,289000.0,4070.422535
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76098,4.0,2.0,242.0,2.0,9990,3.0,5,2,2,2106.0,...,0,0,0,0,0,0,0,0,649000.0,2681.818182
76099,3.0,1.0,94.0,1.0,1090,0.0,1,1,1,1652.0,...,0,1,0,0,1,0,0,1,279000.0,2968.085106
76100,3.0,1.0,113.0,1.0,1853,0.0,4,1,1,1243.0,...,0,1,0,0,1,0,0,1,299000.0,2646.017699
76101,3.0,2.0,111.0,2.0,8434,0.0,6,1,1,3633.0,...,0,0,0,0,1,0,0,1,325000.0,2927.927928
76102,3.0,2.0,132.0,2.0,2610,2.0,3,1,1,3685.0,...,0,0,0,1,1,0,0,1,340000.0,2575.757576

In [15]:
import pandas as pd


df = pd.read_csv('./data/cleaned_real_estate_data.csv')
# display(df)
df['price_per_m2'] = round(df['price'] / df['habitableSurface'],0)
df.to_csv("./data/cleaned_real_estate_data.csv_with_price_per_m2.csv", sep='\t', encoding='utf-8', index=False)
display(df['price_per_m2'])

0        3990.0
1        3315.0
2        5345.0
3        5673.0
4        4070.0
          ...
76098    2682.0
76099    2968.0
76100    2646.0
76101    2928.0
76102    2576.0
Name: price_per_m2, Length: 76103, dtype: float64

In [ ]:
df = pd.read_csv("./data/cleaned_real_estate_data.csv_with_price_per_m2.csv")
postcode_region_map = df[]